<!DOCTYPE html>
<html>
  <head>
        <!-- comment like this - add - {{title}} -->
    <title>Sprint Challenge App {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <div class="menu">
        <a href="/refresh" class="button warning">Update Database</a>
      </div>
  </nav>
    <h1>Here we go...</h1>
    <ul>
      {% for record in records %}
      <li>{{ record.datetime }} - {{ record.value }}</li> <!-- can add .<atribute> here based on Record class-->
      {% end for %}
    </ul>
    <!-- {% block content %}
    <p>Content for APP will go here</p>
    {% endblock %} -->
  </body>
</html>